# Ignore Mac system files
.DS_store

# Ignore node_modules folder
.Xil/**
*.cache/**
*.hw/**
*.ip_user_files/**
*.ipdefs/**
*.runs/**
*.sim/**

# Ignore all text and log files
.txt
.log
.jou
.str

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache